# Ignore dataset files
*.csv
*.txt

# Ignore Dataset
Dataset/

# Ignore artifacts directory
Code/artifacts/

# Ignore model files
*.joblib
*.pt

# Ignore notebooks checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc